
<div class="devices" id="device1">
  <iframe id="iframe" src="<%= @website.url %>"
          frameborder="0" width="100%" height="600px"></iframe>
</div>

<div class="devices center" id="device2">
  <iframe id="iframe" src="<%= @website.url %>"
          frameborder="0" width="100%" height="600px" style="width: 788px;"></iframe>
</div>

<div class="devices center" id="device3">
  <iframe id="iframe" src="<%= @website.url %>"
          frameborder="0" width="100%" height="600px" style="width: 340px;"></iframe>
</div>



  <%= link_to "Buy It Now", new_website_order_path(@website), class: "btn btn-primary", data: { no_turbolink: true } %>
</p>

<%= link_to 'Edit', edit_website_path(@website) %> |
<%= link_to 'Back', websites_path %>






<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @website.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @website.url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @website.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @website.price %>
  <%= link_to "Buy It Now", new_website_order_path(@website), class: "btn btn-primary", data: { no_turbolink: true } %>
</p>

<%= link_to 'Edit', edit_website_path(@website) %> |
<%= link_to 'Back', websites_path %>
