

<% provide(:icon_color, 'green-ic') %>

  <!--form search beginning-->
   

<!--form search-->
<!-- Split button -->
<div class="btn-group">
  <button type="button" class="btn btn-danger">Browse</button>
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <% Category.all.each do |category| %>

    <li><%= link_to category.name,websites_path(category: category.name) %></li>
  <%end %>


  </ul>
</div>


<!--======================dropdown list end ==========================-->
<div class="row">
  <% @websites.each do |website| %>
      <div class="col-md-3 center">
        <div class="thumbnail">
          <%= image_tag website.webimg.url(:medium) %>
          <!--link_to image_tag(listing.image.url), listing-->
          <div class="caption">
            <h3><%= website.name %></h3>
            <p><%=number_to_currency(website.price) %></p>
            <p><%= "Sold by #{website.user.name}" %></p>
            <%= link_to 'Show', website, class: "btn btn-link" %>

          </div>
        </div>
      </div>
  <% end %>
</div>
<br/>
<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>

<br>







<!--==============================object===================================================-->

<h1>Listing websites</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th>Description</th>
      <th>Price</th>
      <th>Seller name</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @websites.each do |website| %>
      <tr>
        <td><%= website.name %></td>
        <td><%= website.url %></td>
        <td><%= website.description %></td>
        <td><%= website.price %></td>
        <td><%= "Sold by #{website.user.name}" %></td>
        <td><%= link_to 'Show', website %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? && current_user.admin? %>
    <%= link_to 'New Website', new_website_path %>
<% end %>
