<% if @websites.blank? %>

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 padding-top-blog center">
        <i class="ti-help-alt search-icon-size-and-color"></i>

        <h1 class="font-size-title thin color-degr">No result found</h1>
      </div>
      <div class="col-md-3"></div>
    </div>

<% end %>


<% provide(:background_color_blog,'background-blog-color') %>
<% provide(:visibility_search_blog,'hidden') %>
<% provide(:icon_color, 'green-ic') %>
<% provide(:title_page, 'Websites') %>
<% provide(:visibility_search_website,'visible') %>
<% provide(:browse_website_visibility, 'visible') %>





<!--======================dropdown list end ==========================-->
<div class="row">
  <% @websites.each do |website| %>
      <div class="col-md-3 center padding-top-blog">
        <div class="thumbnail no-border-website-list border-website-bottom">
          <%= image_tag website.webimg.url(:medium) %>
          <!--link_to image_tag(listing.image.url), listing-->
          <div class="caption">
            <h3><%= website.name %></h3>
            <p><%=number_to_currency(website.price) %></p>
            <p><%= "Sold by #{website.user.name}" %></p>
            <%= link_to "Preview #{website.name}", website, class: "btn btn-primary btn-outline btn-rounded" %>

          </div>
        </div>
      </div>
  <% end %>
</div>
<br/>
<%= will_paginate @websites, renderer: BootstrapPagination::Rails %>

<br>