
<% provide(:background_color_blog,'background-blog-color') %>
<% provide(:visibility_search_website,'hidden') %>
<% provide(:browse_website_visibility,'hidden') %>



<!--=====================Blog S===========================================-->


<% @blogs.each do |blog| %>

<div class="container padding-top-blog">
  <div class="row">

    <div class="col-md-12">

      <div>
        <div class="panel-body blog-background-panel border-bottom-blog-style margin-bottom-social">



          <!--/stories-->
          <div class="row">
            <br>
            <div class="col-md-12 col-sm-12 text-center">
              <%= image_tag blog.user.profileimg.url(:medium), class: "img-circle border-profile profile-blog-color",style: "width:120px;height:120px" %>

            </div>
            <div class="col-md-12 col-sm-12">
              <h3 class="light color-title-growth center"><%= blog.title %></h3>
              <div class="row">
                <div class="col-md-12 col-xs-9 center">
                  <h4><span class="label label-default"><%= blog.user.name %></span></h4><h4>
                  <small style="font-family:courier,'new courier';" class="text-muted"><i class="ti-calendar"></i> <%= time_ago_in_words(blog.created_at) %> ago  • <%= link_to "Read More",blog_path(blog) %> <i class="ti-plus border-icon"></i></small>
                </h4></div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
  <!--=================== Social Button Beginning =================== -->
          <div class="row">

            <div class="col-md-3">
              <%= link_to "#", class: "btn btn-info btn-fill btn-lg social-style" do %>
                  <i class="fa fa-twitter fa-lg"> <b>Tweet</b> Us Something</i>

              <% end %>
            </div>

            <div class="col-md-3">
              <%= link_to '#', class: "btn btn-primary btn-fill btn-lg" do %>
                  <i class="fa fa-facebook-square fa-lg"> Like Us On <b>Facebook</b></i>

              <% end %>
            </div>

            <div class="col-md-3">
              <%= link_to '#', class: "btn btn-danger btn-fill btn-lg" do %>
                  <i class="fa fa-google-plus fa-lg"> Find Us on <b>Google+</b></i>

              <% end %>
            </div>
            <div class="col-md-3">
              <%= link_to '#', class: "btn btn-primary btn-fill btn-lg color-linkedin" do %>
                  <i class="fa fa-linkedin-square fa-lg"> Find Us On <b>LinkedIn</b></i>

              <% end %>
            </div>

          </div>


          <!--/stories-->





        </div>
      </div>



    </div><!--/col-12-->
  </div>
</div>

<% end %>




<!--====================Blog end==========================================-->




<%= will_paginate @blogs, renderer: BootstrapPagination::Rails,class:"margin-page-navi" %>






<% if user_signed_in? && current_user.manager? %>

    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>Title</th>
        <th>Sub title</th>
        <th>Content</th>
        <th>image</th>
        <th>user name</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @blogs.each do |blog| %>
          <tr>
            <td><%= blog.title %></td>
            <td><%= blog.sub_title %></td>
            <td><%= truncate(blog.content, lenght: 6) %></td>
            <td><%= image_tag blog.image.url(:thumb) %> </td>
            <td><%= blog.user.name if blog.user %></td>
            <td><%= link_to 'Show', blog %></td>
            <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
            <td><%= link_to 'Destroy', blog, method: :delete, data: {confirm: 'Are you sure?'} %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <br>

    <!--if user_signed_in? -->
    <%= link_to 'New Blog', new_blog_path %>

<% end %>
