<% provide(:visibility_search_website, 'hidden') %>
<% provide(:browse_website_visibility, 'hidden') %>
<% provide(:title_page, "#{@blog.title} | #{@blog.sub_title}") %>
<% provide(:meta_description, "#{truncate(@blog.content, length: 150)}") %>
<% provide(:author, "#{@blog.user.name if @blog.user}") %>
<% provide(:go_back_blog_visibility, 'visible') %>
<% provide(:visibility_footer_shit,'hidden') %>
<% provide(:footer_visibility,'visible') %>
<% provide(:visibility_social_share,'hidden') %>
<% provide(:visibility_thank_for_sharing,'visible') %>


<% if user_signed_in? && current_user.manager? %>
    <div class="row">
      <div class="col-md-10"></div>
      <div class="col-md-2 padding-top-blog">
        <%= link_to edit_blog_path(@blog) do %>
            <i class="ti-write size-ic-new-blog"></i>
        <% end %>
        <%= link_to @blog, method: :delete, data: {confirm: 'Are you sure?'} do %>
            <i class="ti-trash size-ic-new-blog"></i>
        <% end %>
      </div>
    </div>
<% end %>



<div class="row">
  <div class="col-md-3"></div>
  <article class="col-md-6">

    <figure class="img-padding">
      <%= pin_it_button media: image_url(@blog.image.url),
                        description: @blog.content,
                        url: @blog %>
    </figure>

    <%= link_to (image_tag @blog.image.url(:medium)),@blog.image.url,
                class: "img-responsive strip", data: { strip_caption: @blog.title} %>

    <h1 class="font-size-title thin center color-title-growth"><%= @blog.title %></h1>

    <h2 class="font-size-subtitle thin lato center color-title-growth"><%= @blog.sub_title %></h2>

    <h3 class="font-size-date center growth-p light">date by(<%= @blog.user.name if @blog.user %>) and number of
      comment</h3>

    <p class="font-size-p growth-p light center"><%= @blog.content %></p>
    <% if @blog.embedcode.blank? && @blog.embbedsecond.blank? %>

    <% else %>
        <% if @blog.embedcode.blank? %>
        <% else %>
            <div class="embed-responsive embed-responsive-16by9 center">
              <%= @blog.embedcode.html_safe if @blog.embedcode %>
            </div>
        <% end %>

        <% if @blog.embbedsecond.blank? %>

        <% else %>

            <div class="embed-responsive embed-responsive-16by9 center margin-embed-top">
              <%= @blog.embbedsecond.html_safe if @blog.embbedsecond %>
            </div>
        <% end %>
    <% end %>

  </article>
  <div class="col-md-3"></div>
</div>

<br/>


<!--======================================email subcription==============================================-->


<div class="separator"></div>
<div class="subscribe-line subscribe-line-transparent" style="background-image: url('http://37.media.tumblr.com/d77e21ed167c2125627b210b48e23f81/tumblr_na0kw25OtD1st5lhmo1_1280.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <form class="">
          <div class="form-group">
            <input type="text" value="" class="form-control" placeholder="Enter your email...">
          </div>
        </form>
      </div>
      <div class="col-md-3">
        <button type="button" class="btn btn-info btn-fill btn-round btn-block">Subscribe Now!</button>
      </div>
    </div>
  </div>
</div>

<!--======================================email subcription==============================================-->








