<% provide(:visibility_search_blog,'hidden') %>
<% provide(:visibility_search_website,'hidden') %>
<% provide(:browse_website_visibility,'hidden') %>
<% provide(:title_page, 'Home') %>
<% provide(:background_footer, 'background-our-footer') %>
<% provide(:provide_white, 'white') %>



<div class="row">
  <div class="background">
    <div class="col-md-3"></div>
    <div class="col-md-6 center">
      <h1 class="margin-nav center-title-color thin">We Build Simple Website To Complex Web Application</h1>
      <% if user_signed_in? %>
         <%= link_to "Go To My Account", '#', class: "btn btn-lg btn-fill btn-info new-color size-get-st space-top" %>
      <% else %>
         <%= link_to "GET STARTED - IT'S FREE!", new_user_registration_path, class: "btn btn-lg btn-fill btn-info new-color size-get-st space-top" %>
      <% end %>

    </div>
    <div class="col-md-3"></div>
  </div>
</div>

<!--==============================================Main End===============================================-->

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6 center">

    <h2 class="lato light margin-readme line-space color-degr"> If you are looking for a way to grow your company everything start here</h2>



  </div>
  <div class="col-md-3"></div>
</div>

 <!--=======================================Grow your company============================================-->
<div class="row center">
  <div class="col-md-4">
    <i class="fi-cloud cloud"></i>

    <h3 class="color-title-growth light">Real-time Web Application</h3>

    <p class="growth-p light">We are cloud and cloud-based application experts.
      We develop complex web-projects taking into consideration future
      upload and paying much attention to security settings.</p>
  </div>
  <div class="col-md-4">
    <i class="fi-tablet-portrait tablet"></i>

    <h3 class="color-title-growth light">Responsive Design</h3>

    <p class="growth-p light center">Take Part of the exploding usage of Mobile, we will make sure
    that you will never loose a user whatever devices they use, our priority it's to build
    website with the best experience in every screen sizes</p>
  </div>
  <div class="col-md-4">
    <i class="fi-dollar-bill dollar"></i>

    <h3 class="color-title-growth light">Reducing The Cost</h3>

    <p class="growth-p light"> Auditing and consulting within the field
      of web projects and mobile designing
      This analysis and recommendations are conducted according to the
      situation on the market and opponents’ comparison, and also possible ways of reducing the costs.</p>
  </div>

</div>
<!--=================================FEAUTURE =========================================-->

<div class="row border-bottom">
    <div class="col-md-3"></div>
  <div class="col-md-6 center">
    <%= link_to "READ MORE", '#', class: "btn btn-lg btn-fill btn-info margin-readme-button size-readmore" %>


  </div>
  <div class="col-md-3"></div>
  </div>

<!--=======================================READ MORE END ============================================-->


<div class="row background-our-team">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="margin-team center">
      <i class="fi-torsos-male-female team"></i>
    </div>
    <h5 class="center margin-job color-title-growth open-sans">Our Amazing Team</h5>
  </div>
  <div class="col-md-3"></div>
</div>

<!--==========================================SOME OF OUR AMAZING JOB END==============================-->

<div class="row background-our-team">
  <div class="col-md-2"></div>
  <div class="col-md-4 margin-our-team ">
    <div class="thumbnail center boder-blue hover-blue">
      <h6 class="margin-date color-date-link">date</h6>
      <h3 class="open-sans light">hello gil first</h3>
      <p class="open-sans regular">helo helo helo helo helo</p>
      <div class="caption">

        <p><%= link_to '#', class: "btn btn-lg btn-round btn-info" do %>
            <span class="text-info">take a look</span>

           <% end %>
        </p>

      </div>
    </div>
  </div>

  <div class="col-md-4 margin-our-team ">
    <div class="thumbnail center boder-purple hover-purple">
      <h6 class="margin-date color-date-link">date</h6>
      <h3 class="open-sans light">hello gil first</h3>
      <p class="open-sans regular">helo helo helo helo helo</p>
      <div class="caption">

        <p><%= link_to '#', class: "btn btn-lg btn-round btn-primary" do %>
            <span class="text-primary">take a look</span>
              <% end %>
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-2"></div>
</div>

<!--====================================How Does It Works===================================-->

<div class="row margin-our-team">
  <div class="background-how-it-works">
    <div class="col-md-3"></div>
    <div class="col-md-6 center">

      <h1 class="open-sans light center margin-learn-more center-title-color">How does it work?</h1>

         <%= link_to '#', class: "btn btn-primary btn-lg btn-fill space-top regular size-get-st" do %>
              <b>Learn More</b>

         <% end %>


    </div>
    <div class="col-md-3"></div>
  </div>
</div>

<!---=================================== Feature ====================================================-->

<div class="row margin-our-feauture">
  <div class="col-md-2"></div>
  <div class="col-md-1">
      <p><i class="ti-lock icon-feauture"></i></p>
      <p><i class="ti-credit-card icon-feauture"></i></p>
      <p><i class="ti-email icon-feauture"></i></p>
      <p><i class="ti-layout-tab icon-feauture"></i></p>
  </div>
  <div class="col-md-4">
    <h6 class="open-sans">Some Of The Feauture We can build for you</h6>
    <p class="light">we help you to build your next ecommerce or whatever idea you may have</p>
    <%= link_to "#",class: "btn btn-round btn-success" do %>
       <span class="text-success">Discover All Our Feauture</span>
    <% end %>


  </div>
  <div class="col-md-1"></div>
  <div class="col-md-2 center">
     <i class="ti-headphone-alt border-icon-call-us icon-call-us-colorfont"></i>
     <h6 class="open-sans margin-call-us-help">Help is just a phone call away.</h6>
     <p class="light">Get in touch with us by phone, email or Twitter,
       or get instant answers 24/7 in <span class="btn btn-primary btn-outline btn-round margin-call-us-help">Our Support Centre</span></p>
  </div>

</div>

<!--====================================Shop============================================================-->

<div class="row background-our-team">
  <div class="col-md-3"></div>
  <div class="col-md-6 padding-our-shop border-shop">
    <div class="margin-team center">
      <i class="ti-shopping-cart shop"></i>
    </div>
    <h3 class="open-sans light center">Visit Our Preview Store</h3>
    <p class="center light">Our Preview Store help you to choose the model of website you want us to build
    for you</p>
  </div>
  <div class="col-md-3"></div>
</div>


<div class="row background-our-team ">
  <div class="col-md-2"></div>
  <div class="col-md-4 margin-our-team">
      <h4 class="margin-p-shop light">Choose a website model never been easier</h4>
      <p class="light">it can be difficult to know what we want without to know what your concurrence does
        , hey! yes we know that; that's why we builded a preview store where you can find
      with ease what you want us to build for you; it's never been easier to say i want this
      and order exactly that.</p>
    <%= link_to "Visit Our Preview Store", "#",class: "btn btn-primary btn-outline btn-rounded" %>
  </div>
  <div class="col-md-4 margin-layout center margin-our-team">
      <i class="ti-gallery layout-icon"></i>
  </div>
  <div class="col-md-2"></div>
</div>

<!--=========================================Footer==========================================================-->


