<% provide(:visibility_search_blog,'hidden') %>
<% provide(:visibility_search_website,'hidden') %>
<% provide(:browse_website_visibility,'hidden') %>
<% provide(:title_page, 'Home') %>



<div class="row">
  <div class="background">
    <div class="col-md-3"></div>
    <div class="col-md-6 center">
      <h1 class="margin-nav center-title-color thin">the web design who make you and your company bigger</h1>
      <% if user_signed_in? %>
         <%= link_to "Go To My Account", '#', class: "btn btn-success btn-lg btn-fill new-color space light size-get-st" %>
      <% else %>
         <%= link_to "GET STARTED - IT'S FREE!", new_user_registration_path, class: "btn btn-success btn-lg btn-fill new-color space light size-get-st" %>
      <% end %>

    </div>
    <div class="col-md-3"></div>
  </div>
</div>

<!--==============================================Main End===============================================-->

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6 center">

    <h2 class="lato light margin-readme line-space color-degr"> If you are looking for a way to grow your company everything start here</h2>



  </div>
  <div class="col-md-3"></div>
</div>

 <!--=======================================Grow your company============================================-->
<div class="row center">
  <div class="col-md-4">
    <i class="fi-cloud cloud"></i>

    <h3 class="color-title-growth light">Real-time Web Application</h3>

    <p class="growth-p light">We are cloud and cloud-based application experts</p>
  </div>
  <div class="col-md-4">
    <i class="fi-tablet-portrait tablet"></i>

    <h3 class="color-title-growth light">Responsive Design</h3>

    <p class="growth-p light">Responsive Design and rectina display ready
      MyJourney will look perfect on any device you can image</p>
  </div>
  <div class="col-md-4">
    <i class="fi-dollar-bill dollar"></i>

    <h3 class="color-title-growth light">Reducing Cost</h3>

    <p class="growth-p light"> How mission is to provide the best quality
      at a start up price because we understand the difficulty you may have.</p>
  </div>

</div>
<!--=================================FEAUTURE =========================================-->

<div class="row border-bottom">
    <div class="col-md-3"></div>
  <div class="col-md-6 center">
    <%= link_to "READ MORE", '#', class: "btn btn-info btn-fill btn-lg space light margin-readme-button size-readmore" %>

  </div>
  <div class="col-md-3"></div>
  </div>

<!--=======================================READ MORE END ============================================-->


<div class="row background-our-team">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="margin-team center">
      <i class="fi-torsos-male-female team"></i>
    </div>
    <h5 class="center margin-job color-title-growth open-sans">Our Amazing Team</h5>
  </div>
  <div class="col-md-3"></div>
</div>

<!--==========================================SOME OF OUR AMAZING JOB END==============================-->

<div class="row background-our-team">
  <div class="col-md-2"></div>
  <div class="col-md-4 margin-our-team ">
    <div class="thumbnail center boder-blue hover-blue">
      <h6 class="margin-date color-date-link">date</h6>
      <h3 class="open-sans light">hello gil first</h3>
      <p class="open-sans regular">helo helo helo helo helo</p>
      <div class="caption">

        <p><%= link_to "take a look",'#', class: "btn btn-link color-date-link border-link" %></p>

      </div>
    </div>
  </div>

  <div class="col-md-4 margin-our-team ">
    <div class="thumbnail center boder-purple hover-purple">
      <h6 class="margin-date color-date-link">date</h6>
      <h3 class="open-sans light">hello gil first</h3>
      <p class="open-sans regular">helo helo helo helo helo</p>
      <div class="caption">

        <p><%= link_to "take a look",'#', class: "btn btn-link color-date-link border-link" %> </p>
      </div>
    </div>
  </div>

  <div class="col-md-2"></div>
</div>

<!--====================================How Does It Works===================================-->

<div class="row margin-our-team">
  <div class="background-how-it-works">
    <div class="col-md-3"></div>
    <div class="col-md-6 center">

      <h1 class="open-sans light center margin-learn-more center-title-color">How does it work?</h1>

         <%= link_to '#', class: "btn btn-primary btn-lg btn-fill space regular size-get-st" do %>
              <b>Learn More</b>

         <% end %>


    </div>
    <div class="col-md-3"></div>
  </div>
</div>

<!---=================================== Feature ====================================================-->

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-1">
      <p><i class="ti-lock icon-feauture"></i></p>
      <p><i class="ti-credit-card icon-feauture"></i></p>
      <p><i class="ti-email icon-feauture"></i></p>
      <p><i class="ti-layout-tab icon-feauture"></i></p>
  </div>
  <div class="col-md-4">
    <h6 class="open-sans">Some Of The Feauture We can build for you</h6>
    <p class="light">we help you to build your next ecommerce or whatever idea you may have</p>
    <%= link_to "Discover All Our Feauture", "#",class: "btn btn-success btn-outline btn-rounded" %>


  </div>
  <div class="col-md-1"></div>
  <div class="col-md-2 center">
     <i class="ti-headphone-alt border-icon-call-us icon-call-us-colorfont"></i>
     <h6 class="open-sans margin-call-us-help">Help is just a phone call away.</h6>
     <p class="light">Get in touch with us by phone, email or Twitter,
       or get instant answers 24/7 in <span class="btn btn-primary btn-outline btn-rounded margin-call-us-help">Our Support Centre</span></p>
  </div>

</div>