
<!-- Page Content -->
<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">

        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>

      <!--===============================================add of project=======================================-->

      <h1>Listing projects</h1>

      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Progress</th>
          <th>Link</th>
          <th>User</th>
          <th>Id project</th>
          <th>Write reviews</th>

          <th colspan="3"></th>
        </tr>
        </thead>

        <tbody>
        <% @projects.each do |project| %>
            <tr>
              <td><%= project.title %></td>
              <td><%= project.description %></td>
              <td><%= project.progress %></td>
              <td><%= project.link %></td>
              <td><%= project.user.name %></td>
              <td><%= project.id %></td>
              <td><%= link_to "Write new review",new_project_review_path(project)%></td>
              <td><%= link_to 'Show', project %></td>
              <td><%= link_to 'Edit', edit_project_path(project) %></td>
              <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>



            </tr>
        <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Project', new_project_path %>

      <!--===============================================end of project=======================================-->
    </div>
  </div>
</div>
<!-- /#page-content-wrapper -->
