<div id="page-content-wrapper">
  <div class="container-fluid">

    <p id="notice"><%= notice %></p>

    <div class="row">
      <div class="col-md-3">
        <a href="#menu-toggle" class="btn btn-success btn-rounded" id="menu-toggle">Toggle Menu</a>
      </div>
      <div class="col-md-9">
        
        <h4>
          <h1>hello</h1>
          <%= link_to projects_path, class: "text-info" do %>
              <i class="ti-arrow-left"></i>
              <span class="light">Go Back To Project List</span>
          <% end %>
        </h4>
      </div>
    </div>

    <div class="card">
      <div class="content">
        <h1 class="thin"><strong class="color-title">Project Title:</strong>
          <span class="color-title-growth"><%= @project.title %></span></h1>

        <p>
          <strong>Description:</strong>
          <%= @project.description %>
        </p>

        <p>
          <strong>Progress:</strong>
          <%= number_to_percentage(@project.progress, precision: 0) %>
          <progress class="progress style-pro" value="<%= @project.progress %>" max="100">
            25%
          </progress>
        </p>

        <p>
          <strong>Link:</strong>
          <%= link_to is_link_available(@project.link),@project.link%>
        </p>
        <a href="#">
        </a>

        <div class="footer">
          <div class="author">
            <a href="#">
              <img src="<%= @project.user.profileimg.url %>" alt="profile user" class="avatar">
              <span> <%= @project.user.name %> </span>
            </a>
          </div>
          <div class="stats pull-right">
            <i class="fa fa-clock-o"></i> Created
            <%= time_ago_in_words(@project.created_at) %> ago
          </div>
        </div>
      </div>
    </div>

    <% if @reviews.blank? %>
        <h3>No reviews writed</h3>

        <%= link_to 'Back Project', projects_path %>
    <% else %>


        <div class="row">
          <div class="col-md-10"></div>
          <div class="col-md-2">
            <%= link_to new_project_review_path(@project),
                        class: "btn btn-round btn-fill btn-google" do %>
                <i class="ti-pencil-alt write-quest-pro-ic-size"></i>
            <% end %>
          </div>
        </div>


<% @reviews.each do |review| %>
    <div class="media">
      <a class="pull-left" href="#">
        <div class="avatar">
          <img class="media-object" alt="Tim Picture" src="<%= review.user.profileimg.url %>">
        </div>
      </a>

      <div class="media-body">

        <h4 class="media-heading"><%= review.user.name.capitalize %>
          <span class="label <%= put_color_admin_or_client(review.user) %>">
            <%= is_admin_or_client(review.user) %></span></h4>
        <h6 class="pull-right text-muted"><time><%= review.created_at.strftime("%-m/%-d/%y") %></time></h6>

        <p><%= h(review.comment).gsub(/\n/, '<br/>').html_safe %></p>



        <div class="media-footer">
          <i class="fa fa-reply text-info"></i> <%= link_to "Reply", new_project_review_path(@project) %>
          <a href="#" class="btn btn-default btn-simple pull-right">
            <% if user_signed_in? && current_user.manager? %>
                <%= link_to "Edit Review", edit_project_review_path(@project, review) %>
                <%= link_to "Delete", project_review_path(@project, review), method: :delete,
                            data: {confirm: "Are you sure you want delete this review (#{review.comment})"} %>
            <% end %>
          </a>
        </div>
      </div>
    </div>
<% end %>
    </br>

    <% if user_signed_in? && current_user.manager? %>
        <%= link_to 'Edit Project', edit_project_path(@project) %> |
    <% end %>
        <%= link_to 'Back Project', projects_path %>
  </div>
</div>


<% end %>