<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Progress:</strong>
  <%= @project.progress %>
</p>

<p>
  <strong>Link:</strong>
  <%= @project.link %>
</p>

<% if @reviews.blank? %>
    <h3>No reviews writed</h3>
    <% else %>
<%= link_to "Write Review",new_project_review_path(@project) %>
<% @reviews.each do |review| %>
    <td><%= review.comment %></td>
    <% end %>

    <% end %>
<br/>

<%= link_to 'Edit Project', edit_project_path(@project) %> |
<%= link_to 'Back Project', projects_path %>
