<% provide(:visibility_search_blog,'hidden') %>
<% provide(:visibility_search_website,'hidden') %>
<% provide(:browse_website_visibility,'hidden') %>

<div class="row">
  <div class="background-signin">
    <div class="col-md-4"></div>
    <div class="col-md-5">
      <div class="panel panel-default">
        <div class="panel-body margin-title-panel">

          <h2 class="margin-title-signing light color-text">Sign in</h2>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="field">
                <%= f.email_field :email, autofocus: true, class: "field__input", placeholder: "enter email" %></div>

              <div class="field">
                <%= f.password_field :password, autocomplete: "off", class: "field__input", placeholder: "enter password" %></div>

              <% if devise_mapping.rememberable? -%>
                  <!--f.check_box :remember_me f.label :remember_me -->
                  <label for="user_remember_me" class="control checkbox">
                    <input name="user[remember_me]" type="hidden" value="0">
                    <input id="user_remember_me" name="user[remember_me]" type="checkbox" value="1">
                    <span class="control-indicator" style="height: 1.5rem; width: 1.5rem"></span>
                    Remember me</label>
                  </br>
              <% end -%>
              </br>
              <div><%= f.submit "Sign in", class: "btn btn-primary btn-fill new-color light sign-font-size" %></div>
              </br>

              <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                  <%= link_to "Forgot your password?", new_password_path(resource_name) %>
                  <br/>
              <% end -%>
          <% end %>

        </div>

      </div>

    </div>
    <div class="col-md-3"></div>
  </div>
</div>

