


  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand margin-name">
        <a href="#">


          <p><%= image_tag current_user.profileimg.url(:medium),class: "image-profile margin-profile img-circle border-profile" %></p>


            <p class="name"><%= link_to current_user.name,profile_path %></p>







          <!--link_to "#{yield(:user_name)}",profile_path -->

        </a>
      </li>
      <li>
        <a href="#">Dashboard</a>
      </li>

    <% if user_signed_in? && current_user.manager? %>
      <li>
        <%= link_to "Sales History",sales_path %>
      </li>
    <% end %>

      <li>
        <%= link_to "Purchase History",purchases_path %>
      </li>
      <li>
        <%= link_to "Edit My Account",edit_user_registration_path %>
      </li>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="#">Services</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
      <li>
        <%= link_to "home", root_path %>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->


