<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand margin-name">
      <a href="#">


        <p><%= image_tag current_user.profileimg.url(:medium), class: "image-profile margin-profile img-circle border-profile" %></p>


        <p class="name"><%= link_to current_user.name, profile_path %></p>


        <!--link_to "#{yield(:user_name)}",profile_path -->

      </a>
    </li>
    <% if user_signed_in? && current_user.manager? %>
        <li>
          <%= link_to all_orders_path do %>
              <i class="ti-credit-card style-sign-out-ic"></i>
              <span class="margin-right-menu-admin">All Orders</span>
          <% end %>
        </li>
    <% end %>

    <% if user_signed_in? && current_user.manager? %>
        <li>
          <%= link_to users_index_path do %>
            <i class="ti-info-alt style-sign-out-ic"></i>
            <span class="margin-right-menu-admin">User Info</span>
          <% end %>
        </li>
    <% end %>

    <% if user_signed_in? && current_user.admin? %>
        <li>
          <%= link_to sales_path do%>
            <i class="ti-receipt style-sign-out-ic"></i>
            <span class="margin-right-menu-admin">Sales History</span>
          <% end %>
        </li>
    <% end %>

    <li>
      <%= link_to purchases_path do %>
         <i class="ti-shopping-cart-full style-sign-out-ic"></i>
          <span class="margin-right-menu-admin">Purchase History</span>
      <% end %>
    </li>
    <li>
      <%= link_to edit_user_registration_path do %>
          <i class="ti-user style-sign-out-ic"></i>
          <span class="margin-right-menu-admin">Edit Profile</span>
      <% end %>
    </li>
    <% if user_signed_in? %>
    <li>
        <li><%= link_to projects_path do %>
          <i class="ti-folder style-sign-out-ic"></i>
          <span class="margin-right-menu-admin">Projects</span>
        <% end %>
        </li>
    </li>
    <% end %>
    <li>
      <a href="#">Services</a>
    </li>
    <li>
      <a href="#">Contact</a>
    </li>
    <li>
      <%= link_to "home", root_path %>
    </li>
    <li class="margin-top-sign-out">
      <%= link_to destroy_user_session_path, method: :delete do %>
           <i class="ti-unlock style-sign-out-ic"></i>
           <span class="margin-right-menu-admin">Sign Out</span>
      <% end %>
    </li>

  </ul>
</div>
<!-- /#sidebar-wrapper -->


