


  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand margin-name">
        <a href="#">


          <p><%= image_tag yield(:image_profile), class: "image-profile margin-profile img-circle border-profile"  %>


              <%= link_to profile_path do%>
              <span class="name"><%= yield(:user_name)%></span>

              <% end%></p>

          <p>hello
            <%= current_user.name %>
            <%= image_tag current_user.profileimg.url(:medium),class: "image-profile margin-profile img-circle border-profile" %>
          </p>





          <!--link_to "#{yield(:user_name)}",profile_path -->

        </a>
      </li>
      <li>
        <a href="#">Dashboard</a>
      </li>

    <% if user_signed_in? && current_user.manager? %>
      <li>
        <%= link_to "Sales History",sales_path %>
      </li>
    <% end %>

      <li>
        <%= link_to "Purchase History",purchases_path %>
      </li>
      <li>
        <a href="#">Events</a>
      </li>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="#">Services</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
      <li>
        <%= link_to "home", root_path %>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->


