<footer class="footer footer-big <%= yield(:visibility_footer_shit) %>">
  <!-- .footer-black is another class for the footer, for the transparent version, we recommend you to change the url of the image with your favourite image.          -->

  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="form-group">
          <!-- Single button -->
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <%= image_tag("ca.png") %> English <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#"><%= image_tag("ca.png") %> French
                <span class="label label-default">soon</span></a></li>
              <li><a href="#"><%= image_tag("es.png") %> Spanish
                <span class="label label-default">soon</span></a></li>

            </ul>
          </div>
        </div>

        <div class="form-group">
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <%= image_tag("ca.png") %> CAD <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#"><%= image_tag("us.png") %> US
                <span class="label label-default">soon</span></a></li>

            </ul>
          </div>
        </div>

      </div>
      <div class="col-md-3 col-md-offset-1">
        <h5 class="title">Company</h5>
        <nav>
          <ul>
            <li>
              <a href="#">
                Home
              </a>
            </li>
            <li>
              <a href="#">
                Find offers <span class="label label-info">soon</span>
              </a>
            </li>
            <li>
              <a href="#">
                Portfolio
              </a>
            </li>
            <li>
              <a href="#">
                Our news
              </a>
            </li>
            <li>
              <a href="#">
                About Us
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-md-3">
        <h5 class="title"> Help and Support</h5>
        <nav>
          <ul>
            <li>
              <a href="#">
                Contact Us
              </a>
            </li>
            <li>
              <a href="#">
                How it works
              </a>
            </li>
            <li>
              <a href="#">
                Terms &amp; Conditions  <span class="label label-info">soon</span>
              </a>
            </li>
            <li>
              <a href="#">
                Company Policy <span class="label label-info">soon</span>
              </a>
            </li>
            <li>
              <a href="#">
                Money Back
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-md-3">
        <h5 class="title">Follow us on</h5>
        <nav>
          <ul>
            <li>
              <button class="btn btn-social btn-simple btn-facebook">
                <i class="fa fa-facebook-square border-right-none"></i> Facebook
              </button>
            </li>
            <li>
              <button class="btn btn-social btn-simple btn-twitter">
                <i class="fa fa-twitter border-right-none"></i> Twitter
              </button>
            </li>
            <li>
              <button class="btn btn-social btn-simple btn-linkedin">
                <i class="fa fa-linkedin-square border-right-none"></i> Linkedin
              </button>
            <li>
              <button class="btn btn-social btn-simple btn-google">
                <i class="fa fa-google-plus-square border-right-none"></i> Google+
              </button>
            </li>

          </ul>
        </nav>
      </div>
    </div>
    <hr>
    <div class="copyright">
      © 2014 Webee, Web Development and Design Agency
    </div>
  </div>
</footer>