<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <i class="fa fa-sign-in fa-2x asowesome-color"></i>
        </button>

        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle navbar-brand color-title" data-toggle="dropdown">
              <i class="fa fa-bars"></i>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li>
              <li class="center style-x"><i class="fi-x pink"></i></li>
              <li><%= link_to "home", root_path, class: "hover-home size-menu light" %></li>
              <li class="divider"></li>
              <li><%= link_to "portofolio", info_portofolio_path, class: "hover-portofolio size-menu light" %></li>
              <li class="divider"></li>
              <li><%= link_to "Pricing", info_pricing_path, class: "hover-pricing size-menu light" %></li>
              <li class="divider"></li>
              <li><%= link_to "why us", info_why_us_path, class: "hover-why-us size-menu light" %>
              <li class="divider"></li>
              <li><%= link_to "blog", blogs_path, data: {no_turbolink: true} %></li>

              <% if user_signed_in? && current_user.manager? %>
                  <li class="divider"></li>
                  <li><%= link_to "user info", users_index_path %></li>
              <% end %>

              <% if user_signed_in? %>
                  <li class="divider"></li>
                  <li><%= link_to "project", projects_path %></li>
              <% end %>
              <li class="divider"></li>
              <li><%= link_to "website", websites_path %></li>

              <% if user_signed_in? && current_user.admin? %>
                  <li class="divider"></li>
                  <li><%= link_to "manage website", seller_path %></li>
              <% end %>


            </ul>
          </li>
        </ul>


      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
              <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-primary btn-outline btn-rounded light border-color-degr" %></li>
          <% else %>
              <li><%= link_to "Sign in", new_user_session_path, class: "btn btn-primary btn-outline btn-rounded light border-color-degr" %></li>
          <% end %>

        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </div>
</nav>