
<div class="<%= yield(:background) %>">
  <nav class="navbar navbar-default back-bord-remove" role="navigation">
    <div class="container back-bord-remove">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-sign-in fa-2x <%= yield(:toggle_nav) %>"></i>
          </button>

          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle navbar-brand color-title" data-toggle="dropdown">
                <i class="fa fa-bars <%= yield(:bars) %>"></i>
              </a>
              <ul class="dropdown-menu background-white" role="menu">
               <li class="center style-x"><i class="fi-x <%= yield(:icon_color) %>"></i></li>
                <li><%= link_to "home", root_path, class: "hover-home size-menu light" %></li>
            <li class="divider"></li>
                <li><%= link_to "portofolio",info_portofolio_path,class: "hover-portofolio size-menu light" %></li>
                <li class="divider"></li>
                <li><%= link_to "Pricing",info_pricing_path,class: "hover-pricing size-menu light" %></li>
                <li class="divider"></li>
                <li><%= link_to "why us", info_why_us_path, class: "hover-why-us size-menu light" %>
                <li class="divider"></li>
                <li><%= link_to "blog", blogs_path %></li>
                <li class="divider"></li>
                <li><%= link_to "user info", users_path %></li>
                <li class="divider"></li>
                <li><%= link_to "edit user", edit_user_registration_path %></li>


              </ul>
            </li>
          </ul>


        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
                <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-primary btn-outline btn-rounded light #{yield(:signout)}" %></li>
            <% else %>
                <li><%= link_to "Sign in", new_user_session_path, class: "btn btn-primary btn-outline btn-rounded light #{yield(:signin)}" %></li>
            <% end %>

          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </div>
  </nav>
</div>